@font-face{
    font-family: lato;
    src: url("fonts/Lato-Regular.ttf");
}
@font-face{
    font-family: latoBold;
    src: url("fonts/Lato-Bold.ttf");
}
@font-face{
    font-family: montserrat;
    src: url("fonts/Montserrat-Bold.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: #f0f0ed;
    font-family: "lato";
}
button{
    cursor: pointer;
}
.body-container{
    width: 95vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    gap: 30px;
}
.green-btn{
    color: #fff;
    background-color: #77af12;
    font-weight: bold;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    margin: 2px;
    text-transform: capitalize;
    outline: none;
    transition: all 0.2s ease-in-out;
}
.green-btn:hover{
    background-color: #67960f;
}
h1{
    font-size: 18px;
    color: #33363c;
    margin: 10px 0 10px 0;
    font-family: "montserrat";
    text-transform: capitalize;
}
.left, .middle, .right{
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}
.members, .groups, .recent-active, .schedule, .offline, .recent-replies, .recent-topics{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 20px 0;
    height: auto;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: #928d8d;
    opacity: 0.3;
    margin: 20px 0;
}
.form-group{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;
    margin-bottom: 10px;
}
.form-group input[type = "text"]{
    width: 60%;
    margin-right: 5px;
    background-color: #f7f7f7;
    color: #aaaaaa;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form-group input::placeholder{
    color: #aaaaaa;

}
.form-group .btn{
    background-color: #2f9bc1;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.form-group .btn:hover{
    background-color: #2c8db1;
}
.members .member{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 15px 0;
}
.members .member .img{
    border-radius: 10px;
    padding-bottom: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding: 3px;
    margin-right: 15px;
}
.members .member img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;


}
.members .member p{
    font-family: "montserrat";
    font-size: 14px;
}
.members .member small{
    font-size: 10px;
    background-color: #dce5ea;
    color: #5786af;
    width: 60px;
    text-align: center;
    padding: 4px 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.groups .categories{
    margin-bottom: 30px;
}
.group {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-bottom: 15px;
}
.group img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.groups .group p{
    font-family: "montserrat";
    font-size: 14px;
    text-transform: capitalize;
}
.groups .group small{
    font-size: 10px;
    background-color: #dce5ea;
    color: #5786af;
    text-align: center;
    padding: 4px 5px;
    border-radius: 5px;
    margin-top: 10px;
}
/* right form styling*/
.form-container{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}
form{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.form-container form input[type = "text"], .form-container form input[type = "password"]{
    width: 90%;
    margin: auto;
    display: block;
    background-color: #f7f7f7;
    color: #aaaaaa;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    height: 30px;
}
.form-container form input[type = "text"], .form-container form input[type = "password"]::placeholder{
    text-transform: capitalize;
}
.form-container input[type = "checkbox"]{
    width: 10%;
    display: inline-block;
    margin-right: 3px;
}
form div{
    margin: 10px;
}
.form-container .forget{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
}
.fa-question-circle{
    margin-right: 5px;
}
.form-container form button{
    background-color: #2f9bc1;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 100%;
    height: 40px;
}

.form-container form button:hover{
    background-color: #2c8db1;
}
.statistics{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px   ;
}
.stats-contianer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    background-color: #c12f6c;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.fa-pencil-alt {
    margin-right: 10px;
}
.stats-contianer:hover{
    background-color: #b92060;
}
.offline{
    padding: 20px;
}
.offline p{
    opacity: 0.5;
    font-size: 14px;
}
.recent-replies, .recent-topics{
    padding: 20px;
}
.recent-replies .reply, .recent-topics .topic{
    margin: 20px auto;
    font-size: 13px;
}
.recent-replies .reply p, .recent-topics .topic p{
    width: 83%;
}
.recent-replies .reply p small, .recent-topics .topic p small{
    opacity: 0.6;
}
.schedule-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.schedule h1{
    margin-left: 10px;
}
.schedule .month{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 10px;
}
.schedule table{
    width: 80%;
    text-align: center;
}
.schedule table thead{
    font-weight: bold;
    opacity: 0.6;
    margin: auto;
}
.schedule table tr{
    opacity: 0.6;
    margin-top: 10px;
}
.schedule table tr td{
    padding: 5px;
}
.schedule .prev{
    opacity: 0.5;
    margin-left: 20px;
}
.latest-activity{
    background-color: #fff;
    border-radius: 20px;
}
.latest-activity .header{
    background-color: #f7f7f7;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 10px;

}
.latest-activity .activity-items{
    padding: 20px;
}
.activity-item{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid #bbb5b5;
    border-spacing: 20px;
}
.latest-activity .gray-btn{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: bold;
    text-transform: capitalize;
}
.latest-activity .img{
    height: 80px;
    width: 80px;
    border-radius: 8px;
}
.latest-activity .img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.latest-posts{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
}
.latest-posts .header{
    background-color: #f7f7f7;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 10px;

}
.latest-posts .posts-container{
    padding: 20px;
}
.latest-posts .posts-container .post{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 30px;
}
.latest-posts .tabs{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.latest-posts .tabs button{
    border: none;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
}
.latest-posts .post .img{
    width: 80px;
    height: 80px;
}
.latest-posts .post .img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.latest-posts .tabs button:last-of-type{
    margin-right: 30px;
}
.latest-posts .tabs button:hover{
    background-color: #b4aaaa;
}
.recent-active .profiles{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.recent-active .profiles .img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.recent-active .profiles .img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.features{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    height: 300px;
}
.features .header{
    background-color: #f7f7f7;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 10px;

}
.features-container{
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 40px;
    margin: 20px auto;
}
.features-container .feature{
    width: 160px;
    height: 120px;
}
.features-container .feature img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.features-container .feature p{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.mySlider .carousel-item{
    width:100%;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
.mySlider img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}
.mySlider .indicators{
    position: absolute;
    bottom: 20px;
    left: 48%;
    font-size: 14px;
}
.mySlider .indicators i{
    color: rgb(109, 96, 79);
    opacity: 0.6;
}
.mySlider .indicators i:first-of-type{
    opacity: 1;
}
.mySlider .header{
    position: absolute;
    background-color: rgba(31, 30, 80, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    left: 20px;
    bottom: 100px;
}
@media(max-width: 765px){
    .body-container{
        display: inline-block;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .middle{
        margin: 20px;
    }
}